<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="assets/scss/style.css">
    <link href="assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>

<body onload="onload_script()">
        <script>
    
                function onload_script() {
                var d = new Date();
                let year = d.getFullYear();
                let month = d.getMonth();
                var str = month + "/" + year;
                document.getElementById("month-year-input").value = str;
                document.getElementById("month-year-text").innerHTML = str;
                fetch_notifications();
            }
            function fetch_papers(){
                let user = document.getElementById("fetch_paper_teacher_input").value;
               
alert(user);
                var xhttp = new XMLHttpRequest();
                let div = document.getElementById("papers_result");
                let str = "";
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        // alert(this.responseText);
                         var obj = JSON.parse(this.responseText);
                         for(var i=0; i<obj.length ; i++){
                            str += `<div><h4>`+obj[i].title+`</h4>
                                <p>`+obj[i].detail+`</p><br>
                                <a href="`+obj[i].path+`" download >click to download</a></div><br>`
                         }
                        div.innerHTML = str;
                    
                    }
            
                }
                xhttp.open("GET", "/teachers/papers?user="+user, true);
                xhttp.send();

            }
            function fetch_notifications(){
                var xhttp = new XMLHttpRequest();
                let div = document.getElementById("notification_panel");
                let str = "";
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        // alert(this.responseText);
                         var obj = JSON.parse(this.responseText);
                         for(var i=0; i<obj.length ; i++){
                            str += `<div id="success-alert" class="sufee-alert alert with-close alert-primary alert-dismissible fade show">
                        <span class="badge badge-pill badge-primary">`+obj[i].user+`</span>
                        `+obj[i].detail+`
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>`
                         }
                        div.innerHTML = str;
                    
                    }
            
                }
                xhttp.open("GET", "/teachers/notifications", true);
                xhttp.send();

            }
            
            function find_student() {
               // alert("searching");
                var xhttp = new XMLHttpRequest();
                let user = document.getElementById("ms_user_input").value;
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        alert(this.responseText);
                        var obj = JSON.parse(this.responseText);
                        document.getElementById("ms_father_name").value = obj[0].father_name;
                        document.getElementById("ms_cnic").value = obj[0].cnic;
                        document.getElementById("ms_father_cnic").value = obj[0].father_cnic;
                        document.getElementById("ms_age").value = obj[0].age;
                        document.getElementById("ms_class").value = obj[0].class;
                        document.getElementById("ms_roll_number").value = obj[0].roll_number;
                        document.getElementById("ms_name").value = obj[0].name;
                        document.getElementById("ms_section").value = obj[0].section;
                        document.getElementById("ms_password").value = obj[0].password;

                       

            
            
                    }
            
                }
                xhttp.open("GET", "/students/fetch_specific?user=" + user, true);
                xhttp.send();
            }
            
                    
                </script>
            

    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./">
                    <img src="images/logo.png" alt="Logo">
                </a>
                <a class="navbar-brand hidden" href="./">
                    <img src="images/logo2.png" alt="Logo">
                </a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index.html">
                            <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <h3 class="menu-title">PORTALS</h3>
                    <!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-laptop"></i>Students Portal</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <i class="fa fa-puzzle-piece"></i>
                                <a  onclick="add_student_show()">Add Student</a>
                            </li>
                            <li>
                                <i class="fa fa-puzzle-piece"></i>
                                <a  onclick="modify_student_show()">Modify Student</a>
                            </li>

                            
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-table"></i>Teachers Portal</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <i class="fa fa-table"></i>
                                <a  onclick="add_teacher_show()">Add Teacher</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>
                                <a onclick="modify_teacher_show()">Modify Teacher</a>
                            </li>
                            <li>
                                    <i class="fa fa-table"></i>
                                    <a onclick="salary_status_show()">Salary Status Updater</a>
                                </li>
                                <li>
                                    <i class="fa fa-table"></i>
                                    <a onclick="papers_search_show()">Papers search</a>
                                </li>

                           
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-th"></i>Admin Portal</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <i class="menu-icon fa fa-th"></i>
                                <a href="forms-basic.html">Basic Form</a>
                            </li>
                            <li>
                                <i class="menu-icon fa fa-th"></i>
                                <a href="forms-advanced.html">Advanced Form</a>
                            </li>
                        </ul>
                    </li>

                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left">
                        <i class="fa fa fa-tasks"></i>
                    </a>
                    <div class="header-left">
                        <button class="search-trigger">
                            <i class="fa fa-search"></i>
                        </button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit">
                                    <i class="fa fa-close"></i>
                                </button>
                            </form>
                        </div>

                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">5</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Server #1 overloaded.</p>
                                </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Server #2 overloaded.</p>
                                </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Server #3 overloaded.</p>
                                </a>
                            </div>
                        </div>

                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="ti-email"></i>
                                <span class="count bg-primary">9</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Mails</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                    <span class="photo media-left">
                                        <img alt="avatar" src="images/avatar/1.jpg">
                                    </span>
                                    <span class="message media-body">
                                        <span class="name float-left">Jonathan Smith</span>
                                        <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                    </span>
                                </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                    <span class="photo media-left">
                                        <img alt="avatar" src="images/avatar/2.jpg">
                                    </span>
                                    <span class="message media-body">
                                        <span class="name float-left">Jack Sanders</span>
                                        <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </span>
                                </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                    <span class="photo media-left">
                                        <img alt="avatar" src="images/avatar/3.jpg">
                                    </span>
                                    <span class="message media-body">
                                        <span class="name float-left">Cheryl Wheeler</span>
                                        <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                    </span>
                                </a>
                                <a class="dropdown-item media bg-flat-color-3" href="#">
                                    <span class="photo media-left">
                                        <img alt="avatar" src="images/avatar/4.jpg">
                                    </span>
                                    <span class="message media-body">
                                        <span class="name float-left">Rachel Santos</span>
                                        <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#">
                                <i class="fa fa- user"></i>My Profile</a>

                            <a class="nav-link" href="#">
                                <i class="fa fa- user"></i>Notifications
                                <span class="count">13</span>
                            </a>

                            <a class="nav-link" href="#">
                                <i class="fa fa -cog"></i>Settings</a>

                            <a class="nav-link" href="#">
                                <i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>

                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </header>
        <!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

     <div class="col-lg-8" id="center-body">
           
        
          <!-- paper search form -->
         <!-- paper search form end  -->
         <div id="papers_search_form" class="container-fluid">
             <div class="">
                 <div class="">
                     <div class="card">
                         <div class="card-header">
                                <strong>Teachers</strong> Papers 
                         </div>
                         <div class="card-body">
                             
                                <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label class=" form-control-label">Username</label>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <input type="text" id="fetch_paper_teacher_input" placeholder="Enter Username" class="form-control">
                                            <small class="form-text text-muted">Please enter teachers username for their papers</small>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-secondary" type="button" onclick="fetch_papers()">Search</button>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body" id="papers_result">
                                            no results!
                                        </div>
                                    </div>
                         </div>
                     </div>
                 </div>
             </div>
             
         </div>
        <!-- add student form -->
        
        <div id="add_student_form" class="container-fluid">
            <div class="container">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <strong>Student</strong> Entry Form
                        </div>
                        <div class="card-body card-block">
                            <form action="/addStudent" method="POST" enctype="multipart/form-data" class="form-horizontal">

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Name</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="name" placeholder="Enter Name" class="form-control">
                                        <small class="form-text text-muted">Please enter student name</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Father Name</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="father_name" placeholder="Enter Father Name" class="form-control">
                                        <small class="help-block form-text text-muted">Please enter student father name</small>
                                    </div>
                                </div>
                                <!-- Contact Number -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Contact Number</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="phone" placeholder="Enter Contact Number" class="form-control">
                                        <small class="help-block form-text text-muted">Please enter Guardian Number</small>
                                    </div>
                                </div>
                                <!-- Contact Number End -->
                                <!-- Age -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Age</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="number" name="age" placeholder="Enter Age" class="form-control">
                                        <small class="help-block form-text text-muted">Please enter student age</small>
                                    </div>
                                </div>
                                <!-- Age End -->
                                <!-- CNIC -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">CNIC</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="cnic" placeholder="Enter CNIC" class="form-control">
                                    </div>
                                </div>
                                <!-- CNIC end -->

                                <!-- Father CNIC -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Father CNIC</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="father_cnic" placeholder="Enter Student Father CNIC" class="form-control">
                                    </div>
                                </div>
                                <!-- Father CNIC end -->

                                <!-- Roll Number -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Roll Number</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="number" name="roll_number" placeholder="Enter Student Roll Number" class="form-control">
                                    </div>
                                </div>
                                <!-- Roll Number End -->
                                <!-- username -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Username</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="username" placeholder="Enter Student Username" class="form-control">
                                        <small class="help-block form-text text-muted">Please enter your username</small>
                                    </div>
                                </div>
                                <!-- username end -->

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Password</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="password" name="password" placeholder="Enter Student Password" class="form-control">
                                        <small class="help-block form-text text-muted">Please enter a Password</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Class</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="class" class="form-control">
                                            <option value="0">Please select class</option>
                                            <option value="PlayGroup">PlayGroup</option>
                                            <option value="Nursery">Nursery</option>
                                            <option value="K.G-1">K.G-1</option>
                                            <option value="K.G-2">K.G-2</option>
                                            <option value="Class 1">Class 1</option>
                                            <option value="Class 2">Class 2</option>
                                            <option value="Class 3">Class 3</option>
                                            <option value="Class 4">Class 4</option>
                                            <option value="Class 5">Class 5</option>
                                            <option value="Class 6">Class 6</option>
                                            <option value="Class 7">Class 7</option>
                                            <option value="Class 8">Class 8</option>
                                            <option value="Class 9">Class 9</option>
                                            <option value="Class 10">Class 10</option>
                                            <option value="Class 11">Class 11</option>
                                            <option value="Class 12">Class 12</option>
                                            <option value="O-Level I">O-Level I</option>
                                            <option value="O-Level II">O-Level II</option>
                                            <option value="O-Level III">O-Level III</option>
                                            <option value="A-Level I">A-Level I</option>
                                            <option value="A-Level II">A-Level II</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- section -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Section</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="section" class="form-control">
                                            <option value="0">Please select section</option>
                                            <option value="PlayGroup">A</option>
                                            <option value="Nursery">B</option>
                                            <option value="K.G-1">C</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- section end -->

                                <!-- gender -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Gender</label>
                                    </div>
                                    <div class="col col-md-9">
                                        <div class="form-check-inline form-check">
                                            <label class="form-check-label ">
                                                <input type="radio" name="gender" value="Male" class="form-check-input">Male
                                            </label>
                                            <label class="form-check-label ">
                                                <input type="radio" name="gender" value="Female" class="form-check-input">Female
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- gender end -->

                               

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Profile picture</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="file" id="file-input" name="pic" class="form-control-file">
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- add student form end -->

        <!-- modify student form -->
        <div id="modify_student_form" class="container-fluid" style="display:none">
            <div class="container">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <strong>Student</strong> Modification Form
                        </div>
                        <div class="card-body card-block">
                            <form action="/modifyStudent" method="POST" class="form-horizontal">

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Username</label>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <input type="text" name="username" id="ms_user_input" placeholder="Enter Username" class="form-control">
                                        <small class="form-text text-muted">Please enter username</small>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-secondary" type="button" onclick="find_student()">Search</button>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Name</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="name" id="ms_name" placeholder="Enter Name" class="form-control">
                                        <small class="form-text text-muted">Please enter student name</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Father Name</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="ms_father_name" name="father_name" placeholder="Enter Father Name" class="form-control">
                                        <small class="help-block form-text text-muted">Please enter student father name</small>
                                    </div>
                                </div>
                                <!-- Contact Number -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Contact Number</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="phone" id="ms_phone" placeholder="Enter Contact Number" class="form-control">
                                        <small class="help-block form-text text-muted">Please enter Guardian Number</small>
                                    </div>
                                </div>
                                <!-- Contact Number End -->
                                <!-- Age -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Age</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="number" name="age" id="ms_age" placeholder="Enter Age" class="form-control">
                                        <small class="help-block form-text text-muted">Please enter student age</small>
                                    </div>
                                </div>
                                <!-- Age End -->
                                <!-- CNIC -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">CNIC</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="cnic" id="ms_cnic"
                         placeholder="Enter CNIC" class="form-control">
                                    </div>
                                </div>
                                <!-- CNIC end -->

                                <!-- Father CNIC -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Father CNIC</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="ms_father_cnic" name="father_cnic" placeholder="Enter Student Father CNIC" class="form-control">
                                    </div>
                                </div>
                                <!-- Father CNIC end -->

                                <!-- Roll Number -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Roll Number</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="number" id="ms_roll_number" name="roll_number" placeholder="Enter Student Roll Number" class="form-control">
                                    </div>
                                </div>
                                <!-- Roll Number End -->
                               
                               
                                <!-- password -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Password</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="password" id="ms_password" name="password" placeholder="Enter Student Password" class="form-control">
                                        <small class="help-block form-text text-muted">Please enter a Password</small>
                                    </div>
                                </div>
                                  <!-- password end -->
                                <!-- class -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Class</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="class" id="ms_class" class="form-control">
                                            <option value="0">Please select class</option>
                                            <option value="PlayGroup">PlayGroup</option>
                                            <option value="Nursery">Nursery</option>
                                            <option value="K.G-1">K.G-1</option>
                                            <option value="K.G-2">K.G-2</option>
                                            <option value="Class 1">Class 1</option>
                                            <option value="Class 2">Class 2</option>
                                            <option value="Class 3">Class 3</option>
                                            <option value="Class 4">Class 4</option>
                                            <option value="Class 5">Class 5</option>
                                            <option value="Class 6">Class 6</option>
                                            <option value="Class 7">Class 7</option>
                                            <option value="Class 8">Class 8</option>
                                            <option value="Class 9">Class 9</option>
                                            <option value="Class 10">Class 10</option>
                                            <option value="Class 11">Class 11</option>
                                            <option value="Class 12">Class 12</option>
                                            <option value="O-Level I">O-Level I</option>
                                            <option value="O-Level II">O-Level II</option>
                                            <option value="O-Level III">O-Level III</option>
                                            <option value="A-Level I">A-Level I</option>
                                            <option value="A-Level II">A-Level II</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- class end -->

                                <!-- section -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Section</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="section" class="form-control" id="ms_section">
                                            <option value="0">Please select section</option>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- section end -->

                               

                                <!-- file insert -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">File input</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="file" id="file-input" name="file-input" class="form-control-file">
                                    </div>
                                </div>
                                <!-- file insert end -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- Modify student form end -->
         <!-- add teacher form  -->
        <div id="add_teacher_form" class="container-fluid" style="display:none">
            <div class="container">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            <strong>Teacher</strong> Entry Form
                        </div>
                        <div class="card-body card-block">
                            <form action="/addTeacher" method="POST" class="form-horizontal">

                                <!-- name -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Name</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="name" placeholder="Enter Name" class="form-control">
                                        <small class="form-text text-muted">Please enter teacher name</small>
                                    </div>
                                </div>
                                <!-- name end -->

                                <!-- username -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Username</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="username" placeholder="Enter Student Username" class="form-control">
                                        <small class="help-block form-text text-muted">Please enter your username</small>
                                    </div>
                                </div>
                                <!-- username end -->

                                <!-- password -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="password-input" class=" form-control-label">Password</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="password" name="password" placeholder="Enter Student Password" class="form-control">
                                        <small class="help-block form-text text-muted">Please enter a Password</small>
                                    </div>
                                </div>
                                <!-- password end -->

                                <!-- Contact Number -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Contact Number</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="phone" placeholder="Enter Contact Number" class="form-control">
                                        <small class="help-block form-text text-muted">Please enter teacher contact Number</small>
                                    </div>
                                </div>
                                <!-- Contact Number End -->

                                <!-- Age -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Age</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="number" name="age" placeholder="Enter Age" class="form-control">
                                        <small class="help-block form-text text-muted">Please enter teacher age</small>
                                    </div>
                                </div>
                                <!-- Age End -->

                                <!-- CNIC -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">CNIC</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="cnic" placeholder="Enter CNIC" class="form-control">
                                    </div>
                                </div>
                                <!-- CNIC end -->

                                <!-- gender -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Gender</label>
                                    </div>
                                    <div class="col col-md-9">
                                        <div class="form-check-inline form-check">
                                            <label class="form-check-label ">
                                                <input type="radio" name="gender" value="Male" class="form-check-input">Male
                                            </label>
                                            <label for="inline-radio2" class="form-check-label ">
                                                <input type="radio" name="gender" value="Female" class="form-check-input">Female
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- gender end -->

                                <!-- subject -->
                                <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label class="form-control-label">Select Subjects</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <span>
                                                <input type="checkbox" name="subjects" value="urdu">Urdu
                                            </span>
    
                                            <span>
                                                <input type="checkbox" name="subjects" value="math">Math
                                            </span>
    
                                            <span>
                                                <input type="checkbox" name="subjects" value="english">English
                                            </span>
    
                                            <span>
                                                <input type="checkbox" name="subjects" value="physics">Physics
                                            </span>
                                            <span>
                                                <input type="checkbox" name="subjects" value="chemistry">Chemistry
                                            </span>
                                            <span>
                                                <input type="checkbox" name="subjects" value="drawing">Drawing
                                            </span>
                                            
                                            <small class="help-block form-text text-muted">Please select the subjects</small>
                                        </div>
    
                                    </div>

                                <!-- subject end -->

                                <!-- class -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class="form-control-label">Select Class</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <span>
                                            <input type="checkbox" name="class" value="class_1"> class 1
                                        </span>

                                        <span>
                                            <input type="checkbox" name="class" value="class_2"> class 2
                                        </span>

                                        <span>
                                            <input type="checkbox" name="class" value="class_3"> class 3
                                        </span>

                                        <span>
                                            <input type="checkbox" name="class" value="class_4"> class 4
                                        </span>
                                        <span>
                                            <input type="checkbox" name="class" value="class_5"> class 5
                                        </span>
                                        <span>
                                            <input type="checkbox" name="class" value="class_6"> class 6
                                        </span>
                                        <span>
                                            <input type="checkbox" name="class" value="class_7"> class 7
                                        </span>
                                        <span>
                                            <input type="checkbox" name="class" value="class_8"> class 8
                                        </span>
                                        <small class="help-block form-text text-muted">Please select the classes</small>
                                    </div>

                                </div>
                                <!-- class end -->

                                
                               <!-- some rough work -->
                               
                               <!-- some rough work end -->

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class="form-control-label">File input</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="file" id="file-input" name="file-input" class="form-control-file">
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>
        </div>
         <!-- add teacher form end -->
        <!-- salary update -->
        <div id="salary_status_form" style="display:none" class="container-fluid">
            <div class="container">
                <div class="">
                    <div class="card">
                        <div class="card-header">
                            Salary Updates
                        </div>
                        <div class="card-body card-block">
                            <form action="/salaryRequest" method="POST">
                                <div class="row form-group">
                                    <div class="col col-md-2">
                                        <label for="class_input" class=" form-control-label">Class</label>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <input type="hidden" name="month" id="month-year-input" value="" />
                                        <select type="text" name="class" id="class_input"  class="form-control">
                                          <option value="class_1">class 1</option>
                                          <option value="class_2">class 2</option>
                                          <option value="class_3">class 3</option>
                                          <option value="class_4">class 4</option>
                                          <option value="class_5">class 5</option>
                                          <option value="class_6">class 6</option>
                                          <option value="class_7">class 7</option>
                                          <option value="class_8">class 8</option>
                                        </select>
                                        <small class="help-block form-text text-muted">select a class</small>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <select name="status" class="form-control">
                                            <option value="issued">Issued</option>
                                            <option value="postponed_5">Postponed 5 days</option>
                                        </select>
                                        <small id="month-year-text">---</small>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <button class="btn btn-success" type="submit"> UPDATE</button>
                                </div>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- salary update end -->
        
       
    </div>
    <div class="col-lg-4">
            <div class="container" id="notification_panel">
                    
    
                    
                </div>
    </div>
    </div>

    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/app.js"></script>


    <script src="assets/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="assets/js/dashboard.js"></script>
    <script src="assets/js/widgets.js"></script>
    <script src="assets/js/lib/vector-map/jquery.vmap.js"></script>
    <script src="assets/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
    <script>
    
    function add_student_show(){
        document.getElementById("add_student_form").style.display="block";
        document.getElementById("modify_student_form").style.display="none";
        document.getElementById("add_teacher_form").style.display="none";
        document.getElementById("modify_teacher_form").style.display="none";
        document.getElementById("salary_status_form").style.display="none";

    }
    function modify_student_show(){
        document.getElementById("add_student_form").style.display="none";
        document.getElementById("modify_student_form").style.display="block";
        document.getElementById("add_teacher_form").style.display="none";
        document.getElementById("modify_teacher_form").style.display="none";
        document.getElementById("salary_status_form").style.display="none";

    }
    function add_teacher_show(){
        document.getElementById("add_student_form").style.display="none";
        document.getElementById("modify_student_form").style.display="none";
        document.getElementById("add_teacher_form").style.display="block";
        document.getElementById("modify_teacher_form").style.display="none";
        document.getElementById("salary_status_form").style.display="none";

    }
    function modify_teacher_show(){
        document.getElementById("add_student_form").style.display="none";
        document.getElementById("modify_student_form").style.display="none";
        document.getElementById("add_teacher_form").style.display="none";
        document.getElementById("modify_teacher_form").style.display="block";
        document.getElementById("salary_status_form").style.display="none";

    }
    function salary_status_show(){
        document.getElementById("add_student_form").style.display="none";
        document.getElementById("modify_student_form").style.display="none";
        document.getElementById("add_teacher_form").style.display="none";
       // document.getElementById("modify_teacher_form").style.display="none";
        document.getElementById("salary_status_form").style.display="block";

    }
    function papers_search_show(){
        document.getElementById("add_student_form").style.display="none";
        document.getElementById("modify_student_form").style.display="none";
        document.getElementById("add_teacher_form").style.display="none";
       // document.getElementById("modify_teacher_form").style.display="none";
        document.getElementById("salary_status_form").style.display="none";
        document.getElementById("papers_search_form").style.display="block";

    }
    function form_show(any){
        document.getElementById("add_student_form").style.display="none";
        document.getElementById("modify_student_form").style.display="none";
        document.getElementById("add_teacher_form").style.display="none";
        document.getElementById("modify_teacher_form").style.display="none";
        document.getElementById("salary_status_form").style.display="none";
        document.getElementById(any).style.display="block";

    }
    
    </script>
    <script>
    
        (function ($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>

</body>

</html>